parameters:
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    level: max
    paths:
        - packages
    excludePaths:
        - packages/*/tests/bootstrap.php
    phpVersion: 80100
    reportUnmatchedIgnoredErrors: true
    tmpDir: .cache/phpstan/
